<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andysapps.superdo.todo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SuperdoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_superdo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_superdo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PointRulesActivity"></activity>
        <activity android:name=".activity.ProductivityActivity" />
        <activity android:name=".activity.SubscriptionActivity" />
        <activity android:name=".activity.ProfileInfoActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.FocusActivity" />

        <receiver
            android:name=".NotificationBroadcast"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".ActionBroadcast"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".BackgroundBroadcast"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>